# App
APP_NAME=app
APP_PORT=3001
APP_ENV=dev

# DB
DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_NAME=app
DB_USER=app-service
DB_PASSWORD=password

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_PROMETHEUS_PORT=15692

# Prometheus
PROMETHEUS_USER=admin
PROMETHEUS_PASSWORD=admin
PROMETHEUS_PORT=9090

# Graphana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
GRAFANA_PORT=3000
